@font-face {
  font-family: 'Candlescript';
  src: url('../fonts/candlescript.otf') format('opentype');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: url('../img/bg.jpg') repeat center center fixed;
    box-sizing: border-box;
    padding: 5em;
}

.wedding {
    width: 100%;
    min-height: 475px;
    min-width: 385px;
    color: #f1ecdc;
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
}

.wedding .photo {
    background: url('../img/couple.jpg') no-repeat -180px 0 scroll;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.wedding .details {
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
}

.wedding th {
    color: #efe1bc;
}

.wedding td {
    padding: 0.4em;
}

.wedding .names {
    display: block;
    font-family: 'Candlescript';
    font-size: 2.5em;
    text-transform: initial;
}

.wedding .calendar {
    margin: 0 auto;
}

.wedding .info {
    font-family: 'Candlescript';
    font-size: 1.5em;
    text-transform: initial;
}

.wedding-date {
    position: relative;
    color: #6a5543;
    z-index: 1;
}

.wedding-date:before {
    content: "";
    display: inline-block;
    width: 44px;
    height: 44px;
    left: -5px;
    top: 2px;
    background-image: url('../img/heart.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
}

@media (min-width: 801px) and (min-device-width: 801px) {
    .wedding {
        height: 100%;
    }

    .wedding .photo {
        height: 100%;
        width: 50%;
        float: left;
    }

    .wedding .details {
        width: 50%;
        float: right;
    }
}

@media (max-width: 800px), (max-device-width: 800px) {
    .wedding .photo {
        background-position: 0 10%;
    }
}

@media (max-device-width: 375px) {
    .wedding .details {
        font-size: 2em;
    }

    .wedding .details table {
        font-size: 1.2em;
    }

    .wedding-date:before {
        width: 88px;
        height: 88px;
        left: 0;
        top: 15px;
    }
}
