---
layout: story
title: Parę Słów
---
            <section id="story-section" class="section-block more-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 text-center">
                            <div class="paragraph-row-wrapper">
                                <p class="animation fadeInUp">Za sprawą najbliższych nam osób poznaliśmy się w 2013 r. i momentalnie zostaliśmy parą. Od tego czasu nieprzerwanie tworzymy naszą wspólną historię, której fragmenty przybliży Państwu nasza galeria zdjęć.</p>
                                <p class="animation fadeInUp">Po ponad 5 latach biorąc na świadków osoby, dzięki którym się poznaliśmy wspólnie dojrzeliśmy do związania się na dalsze wspólne lata i zawarcie związku małżeńskiego.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% include gallery_image.html image="gallery1.jpg" %}
                        {% include gallery_image.html image="gallery2.jpg" %}
                        {% include gallery_image.html image="gallery3.jpg" %}
                        {% include gallery_image.html image="gallery4.jpg" %}
                        {% include gallery_image.html image="gallery5.jpg" %}
                        {% include gallery_image.html image="gallery6.jpg" %}
                    </div>
                </div>
            </section>

            <section id="bridesmaid-section" class="section-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 text-center">
                            <h2 class="animation delay1 fadeInUp">Świadkowie</h2>
                        </div>
                        <div class="col-md-4 col-md-offset-1 col-sm-6 animation fadeInUp">
                            <div class="wedding-card">
                                <div class="card-photo">
                                    <img src="/img/people/emilia.jpg" alt="" class="fullwidth rounded">
                                    <div class="heart-icon-wrapper">
                                        <div class="heart-icon">
                                            <i class="de-icon-heart"></i>
                                        </div>
                                    </div>
                                   </div>
                                <div class="card-duty">
                                    <!--<h5>Druhna</h5>-->
                                </div>
                                <div class="card-name"><a href="https://www.facebook.com/emrossa" target="_blank">Emilia</a></div>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-2 col-sm-6 animation fadeInUp">
                            <div class="wedding-card">
                                <div class="card-photo">
                                    <img src="/img/people/rafal.jpg" alt="" class="fullwidth rounded">
                                    <div class="heart-icon-wrapper">
                                        <div class="heart-icon">
                                            <i class="de-icon-heart"></i>
                                        </div>
                                    </div>
                                   </div>
                                <div class="card-duty">
                                    <!--<h5>Other</h5>-->
                                </div>
                                <div class="card-name"><a href="https://www.facebook.com/profile.php?id=1847346152" target="_blank">Rafał</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
