---
layout: block_nav
title: Ślub
image: slides/church.jpg
slide_images:
  - image: church.jpg
    position: "center 25%"
    overlay: 0.5
map_footer: church
---
            <section id="church-section" class="section-block more-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 text-center">
                            <div class="h2 animated fadeInLeft handwriting-title">
                                Marika Lewandowska
                            </div>
                            <div class="handwriting-title">&amp;</div>
                            <div class="h2 animated fadeInRight handwriting-title">
                                Maciek Ryszczuk
                            </div>
                            <div class="paragraph-row-wrapper">
                                <p class="animation fadeInUp">wraz z rodzicami</p>
                                <p class="animation fadeInUp">serdecznie zapraszają</p>
                                <p class="animation fadeInUp">na uroczystość Zaślubin, która odbędzie się</p>
                                <p class="animation fadeInUp"><strong>14 sierpnia 2019 r. o godzinie 17:00</strong></p>
                                <p class="animation fadeInUp">w <strong><a href="http://www.parafiakroczewo.pl/news.php">kościele pw. Św. Jana Chrzciciela</a></strong> w Kroczewie</p>
                                <p class="animation fadeInUp">Szanowni goście życzenia i upominki będzie można składać przed kościołem po zakończeniu mszy świętej.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% include gallery_image.html image="church1.jpg" width="6" %}
                        {% include gallery_image.html image="church2.jpg" width="6" %}
                    </div>
                </div>
            </section>

            <section id="rebus-section" class="section-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 text-center">
                            <h2 class="animation delay1 fadeInUp">Rebus Ślubny</h2>
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-sm-6 animation fadeInUp">
                            <div class="wedding-card">
                                <img src="/img/rebus.png" alt="Rebus Ślubny" class="fullwidth">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
