---
layout: block_nav
title: Ślub
slide_title: church
slide_images:
  - image: church.jpg
    position: "center 25%"
    overlay: 0.5
map_footer: church
---
            <section id="church-section" class="section-block more-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 text-center">
                            <div class="h2 animated fadeInLeft handwriting-title">
                                Marika Lewandowska
                            </div>
                            <div class="handwriting-title">&amp;</div>
                            <div class="h2 animated fadeInRight handwriting-title">
                                Maciek Ryszczuk
                            </div>
                            <div class="paragraph-row-wrapper">
                                <p class="animation fadeInUp">wraz z rodzicami</p>
                                <p class="animation fadeInUp">serdecznie zapraszają</p>
                                <p class="animation fadeInUp">na uroczystość Zaślubin, która odbędzie się</p>
                                <p class="animation fadeInUp">14 sierpnia 2019 r. o godzinie 17:00</p>
                                <p class="animation fadeInUp">w kościele pw. Św. Jana Chrzciciela w Kroczewie</p>
                                <p class="animation fadeInUp">Szanowni goście życzenia i upominki będzie można składać przed kościołem po zakończeniu mszy świętej.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% include gallery_image.html image="church1.jpg" width="6" %}
                        {% include gallery_image.html image="church2.jpg" width="6" %}
                    </div>
                </div>
            </section>
