---
layout: block_nav
title: Wesele
image: slides/reception.jpg
slide_images:
  - image: reception.jpg
    position: "center 25%"
    overlay: 0.5
map_footer: reception
---
            <section id="reception-section" class="section-block more-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 text-center">
                            <div class="paragraph-row-wrapper">
                                <p class="animation fadeInUp">Po ceremonii zapraszamy na przyjęcie weselne do <a target="_blank" href="http://www.mietowewzgorza.pl/">Rezydencji Miętowe Wzgórza</a> w Trębkach Nowych.</p>
                                <p class="animation fadeInUp">Ze względów organizacyjnych prosimy o potwierdzenie przybycia do dnia <strong style="white-space: nowrap">1 lipca 2019 r</strong>.</p>
                                <p class="animation fadeInUp">Szanowni goście jeśli macie szczególne ograniczenia żywieniowe, uprzejmie prosimy o uprzednią informację i kontakt z Parą Młodą.</p>
                                <p class="animation fadeInUp">Szanowni goście chcielibyśmy poinformować o możliwości skorzystania z noclegu. Transport do miejsca noclegowego będzie zapewniony przez całą noc. Ilość miejsc noclegowych jest ograniczona. Osoby zainteresowane skorzystaniem z noclegu uprzejmie prosimy o uprzednią informację i kontakt z Parą Młodą.</p>

                                <p class="animation fadeInUp">Szanowni goście jako, że chcemy byście tego dnia bawili się razem z nami bez zbędnych zmartwień uprzejmie informujemy o możliwości skorzystania z transportu, który będzie kursował na trasie:</p>

                                <p class="animation fadeInUp"><strong>z</strong> parkingu Pałacu Kultury i Nauki od strony Teatru Dramatycznego w Warszawie <strong>do</strong> Kościoła pw. Św. Jana Chrzciciela w Kroczewie</p>
                                <p class="animation fadeInUp">Odjazd 2 busów z punktu zbiórki zaplanowany jest na godzinę <strong>15:15</strong>.</p>
                                <p class="animation fadeInUp">Uprzejmie prosimy o punktualne przybycie - osoby spóźnione mogą nie mieć możliwości skorzystania z transportu.</p>
                                <p class="animation fadeInUp"><strong>z</strong> Kościoła pw. Św. Jana Chrzciciela w Kroczewie <strong>do</strong> Rezydencji Miętowe Wzgórza</p>
                                <p class="animation fadeInUp"><strong>a następnie 2&ndash;3 kursy</strong></p>
                                <p class="animation fadeInUp"><strong>z</strong> Rezydencji Miętowe Wzgórza <strong>do</strong> Warszawy</p>
                                <p class="animation fadeInUp">Osoby zainteresowane skorzystaniem z transportu w powyższym zakresie uprzejmie prosimy o uprzednią informację i kontakt z Parą Młodą.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% include gallery_image.html image="reception1.jpg" width="6" %}
                        {% include gallery_image.html image="reception2.jpg" width="6" %}
                    </div>
                </div>
            </section>

            <section id="hostel-section" class="section-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 text-center">
                            <div class="paragraph-row-wrapper">
                                <h2 class="animation delay1 fadeInUp animated">Nocleg</h2>
                                <p class="animation fadeInUp">Informacja dla gości, którzy zgłaszali chęć noclegu:</p>
                                <address><a href="https://goo.gl/maps/KtZkt7SzuZ1AU9kK8">Hostel Smoszewski</a><br />
                                Smoszewo 1a<br />
                                05-170 Zakroczym</address>
                                <h3 class="animation delay1 fadeInUp animated">Doba hotelowa (śniadanie na miejscu)</h3>
                                <p class="animation fadeInUp">Zameldowanie od godziny 15:00<br />
                                Wymeldowanie do godziny 11:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
