<div class="col-md-12">
    <div id="slide-couplename-wrapper" class="animation delay1 fadeInUp">
        <div id="slide-couplename" class="scale75-onmobile">
            <div id="slide-her-name" translate="no">Marika</div>
            <div id="slide-and-text">
                <div id="and-text">&amp;</div>
            </div>
            <div id="slide-his-name" translate="no">Maciek</div>
        </div>
        <h1 id="slide-other-text" class="animation delay2 fadeInUp">pobieramy się!</h1>
    </div>
</div>
