        <footer>
            <div class="image-divider fixed-height" style="background-image:url(images/footer-1.jpg);" data-stellar-background-ratio="0.5" >
                <div class="divider-overlay"></div>

                <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
                <div class="alignment">
                    <div class="v-align center-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="thank-you" class="scale75-onmobile">
                                        <div class="animation fadeInUp">Dziękuje</div>
                                    </div>
                                    <h6 class="animation delay1 fadeInUp" style="letter-spacing:6px;">Marika &amp; Maciek</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
