<div class="col-sm-{{ include.width | default: 4 }} gallery-item">
    <div class="photo-item frame-border animation fadeInUp">
        <img src="/img/gallery/thumb/{{ include.image }}" alt="{{ include.alt }}" class="hover-animation image-zoom-in">

        <div class="layer wh100 hidden-black-overlay hover-animation fade-in"></div>

        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
                <div class="v-align center-middle">
                    <a href="/img/gallery/{{ include.image }}" class="magnific-zoom-gallery">
                        <div class="de-icon circle light-1 medium-size inline">
                            <i class="de-icon-zoom-in-1"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
