<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <section id="main-slider" class="flexslider fullscreen">
        <div class="slide-title-outter-wrapper">
            <div class="slide-title-inner-wrapper">
                <div class="slide-title align-middle">
                    <div class="container">
                        <div class="row">
                        {% assign title_name = layout.slide_title | prepend: 'slide_titles/' | append: '.html' %}
                        {% if layout.slide_title %}{% include {{ title_name }} %}{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include slides.html %}
    </section>
    <section id="content">
        {{ content }}
    </section>

    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
